apiVersion: v1
kind: Service
metadata:
  name: bitcoin-node-tp
  namespace: sv2-mining
  labels:
    app.kubernetes.io/name: bitcoin-node
    app.kubernetes.io/component: template-provider
    app.kubernetes.io/part-of: stratum-v2
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: bitcoin-node
  ports:
    - name: sv2-tp
      port: 8442
      targetPort: 8442
      protocol: TCP
