apiVersion: v1
kind: Service
metadata:
  name: bitcoin-node-p2p
  namespace: sv2-mining
  labels:
    app.kubernetes.io/name: bitcoin-node
    app.kubernetes.io/component: p2p
    app.kubernetes.io/part-of: stratum-v2
  annotations:
    # Add cloud provider specific annotations for external traffic
    # AWS: service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
    # GCP: cloud.google.com/load-balancer-type: "External"
spec:
  # Use NodePort for P2P connectivity
  # Change to LoadBalancer if external LB is preferred
  type: NodePort
  selector:
    app.kubernetes.io/name: bitcoin-node
  ports:
    # Mainnet P2P
    - name: p2p-mainnet
      port: 8333
      targetPort: 8333
      nodePort: 30833
      protocol: TCP
    # Signet P2P
    - name: p2p-signet
      port: 38333
      targetPort: 38333
      nodePort: 30383
      protocol: TCP
    # Testnet4 P2P
    - name: p2p-testnet4
      port: 48333
      targetPort: 48333
      nodePort: 30483
      protocol: TCP
